{% extends "layout.html" %}


{% block content %}
    <h2>My Data_Types</h2>
    * 
    <a href='/data_type/add'>Add Data_Type</a> *
    <a href='/data_type/test'>Data_Type Test</a> *

    {% if debug %}
    <pre>
      {{ object_list }}
    </pre>
    {% endif %}

    <hr>
    <table>
        {% for row in object_list %}
            <tr>
              {% for column in row %}
                  <td>{{ column }}</td>
              {% endfor %}
              <td>
                <a href="/data_type/{{ row.0 }}">Details</a>
              </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
