{% extends "layout.html" %}


{% block content %}

    <h2>Data_Type Test View</h2>
    <a href='/'>Home</a>
    <p>
      Use this view to test the data type.
    </p>
    <p>
      <ul>
    
        <li>
          <a href='/data_type'>Data_Type Views</a>
        </li>
        <li>
          <a href='/data_type/'>All Data_Types</a>
        </li>
        <li>
          <a href='/data_type/add'>Add New Data_Type</a>
        </li>
        <li>
          <a href='/data_type/test'>Test  Data_Type Class</a>
        </li>

      </ul>
    </p>

{% endblock %}
