{% extends "layout.html" %}


{% block content %}
    <h2>My Notes</h2>
    * 
    <a href='/note/add'>Add Note</a> *
    <a href='/note/test'>Note Test</a> *

    {% if debug %}
    <pre>
      {{ object_list }}
    </pre>
    {% endif %}

    <hr>
    <table>
        {% for row in object_list %}
            <tr>
              {% for column in row %}
                  <td>{{ column }}</td>
              {% endfor %}
              <td>
                <a href="/note/{{ row.0 }}">Details</a>
              </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
