{% extends "layout.html" %}


{% block content %}

    <h2>Contact Test View</h2>
    <a href='/'>Home</a>
    <p>
      Use this view to test the data type.
    </p>
    <p>
      <ul>
    
        <li>
          <a href='/contact'>Contact Views</a>
        </li>
        <li>
          <a href='/contact/'>All Contacts</a>
        </li>
        <li>
          <a href='/contact/add'>Add New Contact</a>
        </li>
        <li>
          <a href='/contact/test'>Test  Contact Class</a>
        </li>

      </ul>
    </p>

{% endblock %}
