body {
    background: #ffffff;
    margin: 3em;
}

div {
    padding: 5px;
    max-width: 60em;
}

div.page {
    background: #eee;
    border: 1px solid green;
    -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    width:   90%;
    padding: 3em;
    margin:  3em;
}

div.header {
    background-image: url('http:/static/WaterBanner1000.jpg');
    -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    width:   90%;
    height:  80px;
    margin:  3em;
    padding: 1em;
}

div.footer {
    color: #222;
}

a {
    color: green;
}

p {
    /* line-height: 140%; */
    /* font-size: 12pt; */
    color: #444;
}

li {
    /* line-height: 100%; */
    color: #444;
    padding: 5px;
}

hr {
    border:1px solid green;
}

header {
    color: blue;
    text-align: center;
}

div.user {
    float:right;
}

.hlink {
    color: yellow;
}

.hlink:hover {
    color: white;
    /*font-size: 12pt;*/
}


#hpara {
    color: white;
}

input {
    width : 80px;
    height : 30px;
}
