body {
    background: #efefef;
    margin: 1em;
}

div {
    padding: 5px;
    max-width: 80em;
}

div.page {
    background: #ffffff;
    -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    padding: 1em;
    margin: 1em;
}

div.header {
    background-image: url('http:/static/WaterBanner1000.jpg');
    color: white;
    margin: 2em;
    border: 2px solid yellow;
    width:  900px;
    height: 80px;
    padding: 1em;
}


a {
    color: green;
}

p {
    /* line-height: 140%; */
    /* font-size: 12pt; */
    color: #444;
}

li {
    line-height: 100%;
    /* font-size: 12pt; */
    color: #444;
}

hr {
    border:1px solid green;
}


div.user {
    float:right;
    /* border:4px solid red; */
}

#hlink {
    color: yellow;
    /* font-size: 16pt; */
}

#hpara {
    color: white;
    /* font-size: 16pt; */
}

input {
    width : 500px;
    height : 30px;
}
