{% extends "layout.html" %}


{% block content %}
    <h2>My Projects</h2>
    * 
    <a href='/project/add'>Add Project</a> *
    <a href='/project/test'>Project Test</a> *

    {% if debug %}
    <pre>
      {{ object_list }}
    </pre>
    {% endif %}

    <hr>
    <table>
        {% for row in object_list %}
            <tr>
              {% for column in row %}
                  <td>{{ column }}</td>
              {% endfor %}
              <td>
                <a href="/project/{{ row.0 }}">Details</a>
              </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
