{% extends "layout.html" %}


{% block content %}

    <h2>Project Test View</h2>
    <a href='/'>Home</a>
    <p>
      Use this view to test the data type.
    </p>
    <p>
      <ul>
    
        <li>
          <a href='/project'>Project Views</a>
        </li>
        <li>
          <a href='/project/'>All Projects</a>
        </li>
        <li>
          <a href='/project/add'>Add New Project</a>
        </li>
        <li>
          <a href='/project/test'>Test  Project Class</a>
        </li>

      </ul>
    </p>

{% endblock %}
