{% extends "layout.html" %}

{% block content %}
    {% autoescape off %}

        <div ng-controller="BudgetController">
        {% verbatim %}

            <h1>Church Budget - Greeley Vineyard 2016</h1>
            <p>Budget projection for 2016 year. See also <a href="budget">Budget Details</a></p>
            <table>
                <tr>
                    <td width="40%"> <hr><b>Income</b></td><td width="20%">  <hr> <b>100%  ${{ income }}</b> </td>
                </tr>
                <tr>
                    <td> Giving </td>
                    <td> <input type="text" ng-model="giving" ng-change="income_change()"> </td>
                </tr>
                <tr>
                    <td> Rent </td>
                    <td> <input type="text" ng-model="rent" ng-change="income_change()"> </td>
                </tr>
                <tr>
                    <td> <hr><b>Pastoral Staff </b></td><td><hr> <b>48%  ${{ staff | number:0 }}</b> </td>
                </tr>
                <tr>
                    <td> Todd </td>
                    <td> <input type="text" ng-model="todd" ng-change="staff_change()"> </td>
                </tr>
                <tr>
                    <td> Jenny </td>
                    <td> <input type="text" ng-model="jenny" ng-change="staff_change()"> </td>
                </tr>
                <tr>
                    <td> Other Staff</td>
                    <td> <input type="text" ng-model="other_staff" ng-change="staff_change()"> </td>
                </tr>
               <tr>
                    <td> Remaining </td>
                    <td> {{ remaining_staff | number:0 }} </td>
                </tr>
                <tr>
                    <td><hr><b> Operations </b></td><td><hr> <b>38%  ${{ operations | number:0 }}</b> </td>
                </tr>
                <tr>
                    <td> Mortgage </td>
                    <td> <input type="text" ng-model="mortgage" ng-change="operations_change()"> </td>
                </tr>
                <tr>
                    <td> Utilities </td>
                    <td> <input type="text" ng-model="utilities" ng-change="operations_change()"> </td>
                </tr>
                <tr>
                    <td> Other </td>
                    <td> <input type="text" ng-model="other_operations" ng-change="operations_change()"> </td>
                </tr>
                <tr>
                    <td> Remaining </td>
                    <td> {{ remaining_operations | number:0 }} </td>
                </tr>
                <tr>
                    <td> <hr><b> Ministry </b></td><td><hr> <b>7%  ${{ ministry | number:0 }}</b></td>
                </tr>
                <tr>
                    <td> Kids & Youth </td>
                    <td> <input type="text" ng-model="kids" ng-change="ministry_change()"> </td>
                </tr>
                <tr>
                    <td> Sunday Service </td>
                    <td> <input type="text" ng-model="sunday" ng-change="ministry_change()"> </td>
                </tr>
                <tr>
                    <td> Pastor </td>
                    <td> <input type="text" ng-model="pastor" ng-change="ministry_change()"> </td>
                </tr>
                <tr>
                    <td> Other </td>
                    <td> <input type="text" ng-model="other_ministry" ng-change="ministry_change()"> </td>
                </tr>
                <tr>
                    <td> Remaining </td>
                    <td> {{ remaining_ministry | number:0 }} </td>
                </tr>
             
                <tr>
                    <td> <hr><b> Outreach </b></td><td> <hr><b>7%  ${{ outreach | number:0 }}</b></td>
                </tr>
                <tr>
                    <td> AVC </td>
                    <td> <input type="text" ng-model="avc" ng-change="outreach_change()"> </td>
                </tr>
                <tr>
                    <td> Local </td>
                    <td> <input type="text" ng-model="local" ng-change="outreach_change()"> </td>
                </tr>
                <tr>
                    <td> Global </td>
                    <td> <input type="text" ng-model="global" ng-change="outreach_change()"> </td>
                </tr>
                <tr>
                    <td> Other </td>
                    <td> <input type="text" ng-model="other_outreach" ng-change="outreach_change()"> </td>
                </tr>
                <tr>
                    <td> Remaining </td>
                    <td> {{ remaining_outreach | number:0 }} </td>
                </tr>
            </table>


        {% endverbatim %}
        </div>

    {% endautoescape %}
{% endblock %}


{% block footer %}
<center>
  <img src="http:/static/images/SWS_Globe_small.jpg">
  <br />
  Powered by <b>Shrinking World Solutions</b>
</center>
{% endblock %}

