<!doctype html>
<html ng-app="thumper">
<head>
    <!--
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>
        <link  href="http://appthumper.com/media/thumper.css" rel="stylesheet" />
        <script src="http://appthumper.com/media/thumper.js"></script>   
    -->
    <link href="/static/bootstrap-combined.min.css" rel="stylesheet">
    <script src="/static/angular.js"></script>
    <script src="/static/ui-bootstrap-tpls-0.4.0.js"></script>
    <link  href="/static/hammer.css" rel="stylesheet" />
    <!--<script src="/static/thumper.js"></script> -->
  </head>
  <body>

    {% block banner %}
    <div class="header">

        {% if site_title %}
        <h1>{{ site_title }}</h1>
        {% else %}
        <h1>Shrinking-World.Org</h1>
        {% endif %}

        {% block navbar %}
        <center>
          ** 
          <a class="hlink" href="/"><b>Home</b></a> 
          ** 
          <a class="hlink" href="http://shrinking-world.net">Shrinking World</a>
          ** 
        </center>
        {% endblock %}

    </div>
    {% endblock %}


    <div class="page">
      <div>
        {% block content %} 
        {% endblock %}
      </div>
    </div>

    <div class="footer">
      {% block footer %} 
      {% endblock %}
    </div>

  </body>
</html>
